h1 {
    color:#5A3591;
    text-decoration: underline;
}

.box {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;

}

#red-box {
    background-color: red;
}

#orange-box {
    background-color: orange;
    margin-left: 30px;
}

#yellow-box {
    background-color: yellow;
    margin-left: 60px;
}

#green-box {
    background-color: green;
    margin-left: 90px;
}

#blue-box {
    background-color: blue;
    margin-left: 120px;
}

#purple-box {
    background-color: #D390EA;
    margin-left: 150px;
}



