#welcome {
    background-image: url("../img/pizza.png");
}

.container    {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

#welcome>h1 {
    background-color: #F8F8F8;
    opacity: 0.7;
}

.bg-light {
    margin: 20px;
}

.form-group {
    width: 95%
}