.container, .jumbotron {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

/*.jumbotron {*/
    /*width:100%;*/
    /*max-width: 1500px;*/
    /*margin: 0 auto;*/
    /*padding: 0px;*/
/*}*/

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*.card-img-overlay {*/
    /*background-color: #F8F8F8;*/
    /*width: 100%;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 80px;*/
/*}*/

.card-img-overlay {
    padding: 0px;
}

.card-title {
    background-color: #F8F8F8;
    width: 100%;
    margin-top: 10%;
    opacity: 0.7;
    }

.bg-light {
    margin: 20px;
}