.container *{
    margin: 0 auto;
    width: 100%;
    max-width: 1064px;
    float: left;
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin-bottom: 20px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.column {
    background-color: #ccc;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.333%;
}

.one-fourth {
    width: 25%;
}

.one-eighth {
    width: 12.5%;
}

@media screen and (max-width: 764px) {
    .column {
        width: 100%;
    }

    .row {
        margin: 0px;
    }
}