@import url('https://fonts.googleapis.com/css?family=Oswald');

.fancy-header {
    color: rosybrown;
    text-decoration: underline;
}

body {
    /*background-color: aquamarine;*/
    background-image: url("../img/spiration-light.png");
    background-repeat: repeat;
    font-family: 'Oswald', sans-serif;
    color: saddlebrown;
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
}

table, tr, td, th {
    border: 2px saddlebrown solid;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: green;
}

a {
    text-decoration: none;
    font-weight: bold;
}